<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.codeandme.scripting.language">
      <scriptType
            type="Python">
      </scriptType>
      <engine
            class="com.codeandme.scripting.python.jython.JythonScriptEngine"
            id="com.codeandme.scripting.python.jython">
         <supportedScriptType
               type="Python">
         </supportedScriptType>
      </engine>
   </extension>

</plugin>
