<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.codeandme.scripting.javascript.rhino.ui.launching.LaunchConfigurationTabGroup"
            id="com.codeandme.launchConfigurationTabGroup.rhino"
            type="com.codeandme.launchConfigurationType.rhino">
         <launchMode
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
         <launchMode
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.codeandme.launchConfigurationType.rhino"
            icon="images/rhino.gif"
            id="com.codeandme.launchConfigurationTypeImage.rhino">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.codeandme.scripting.javascript.rhino.ui.launching.JavaScriptLaunchShortcut"
            description="Run a JavaScript file"
            icon="images/rhino.gif"
            id="com.codeandme.launchShortcut.rhino"
            label="Rhino JavaScript"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.debug.ui.matchesPattern"
                        value="js">
                  </test>
               </iterate>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.codeandme.scripting.javascript.rhino.ui.launching.LaunchDelegate"
            id="com.codeandme.launchConfigurationType.rhino"
            modes="run,debug"
            name="Rhino JavaScript"
            sourceLocatorId="org.eclipse.wst.jsdt.debug.rhino.ui.source.locator"
            sourcePathComputerId="org.eclipse.wst.jsdt.debug.rhino.ui.source.path.computer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.codeandme.commands.category.scriptShell"
            defaultHandler="com.codeandme.scripting.javascript.rhino.ui.commands.LoadModule"
            id="com.codeandme.commands.scriptShell.loadModule"
            name="Load Module">
         <commandParameter
               id="com.codeandme.commands.scriptShell.loadModule.moduleID"
               name="Module ID"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.codeandme.views.scriptShell?before=top">
         <command
               commandId="com.codeandme.commands.scriptShell.loadModule"
               icon="images/libraries.gif"
               id="com.codeandme.commands.scriptShell.loadModule.popup"
               label="Load Module"
               style="pulldown"
               tooltip="Load an external module">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activePart">
                  <test
                        property="com.codeandme.scripting.ui.engineID"
                        value="com.codeandme.scripting.javascript.rhino">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="com.codeandme.scripting.javascript.rhino.ui.commands.MolduleContributionFactory"
            locationURI="menu:com.codeandme.commands.scriptShell.loadModule.popup">
      </menuContribution>
   </extension>

</plugin>
