<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.codeandme.scripting.language">
      <module
            class="com.codeandme.scripting.javascript.samplemodule.SampleModule"
            documentation="true"
            name="Sample"
            visible="true">
      </module>
   </extension>

</plugin>
