<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.codeandme.scripting.language">
      <scriptType
            type="JavaScript">
      </scriptType>
      <engine
            class="com.codeandme.scripting.javascript.rhino.RhinoScriptEngine"
            id="com.codeandme.scripting.javascript.rhino"
            name="JavaScript (Rhino)"
            priority="10">
         <supportedScriptType
               type="JavaScript">
         </supportedScriptType>
      </engine>
      <engine
            class="com.codeandme.scripting.javascript.rhino.debugger.RhinoScriptDebugEngine"
            id="com.codeandme.scripting.javascript.rhino.debug"
            name="JavaScript Debug"
            priority="1">
         <supportedScriptType
               type="JavaScript">
         </supportedScriptType>
      </engine>
      <moduleWrapper
            class="com.codeandme.scripting.javascript.rhino.RhinoModuleWrapper"
            engineID="com.codeandme.scripting.javascript.rhino">
      </moduleWrapper>
      <moduleWrapper
            class="com.codeandme.scripting.javascript.rhino.RhinoModuleWrapper"
            engineID="com.codeandme.scripting.javascript.rhino.debug">
      </moduleWrapper>
      <launchExtension
            class="com.codeandme.scripting.modules.BootStrapper"
            engineID="com.codeandme.scripting.javascript.rhino">
      </launchExtension>
      <launchExtension
            class="com.codeandme.scripting.modules.BootStrapper"
            engineID="com.codeandme.scripting.javascript.rhino.debug">
      </launchExtension>
   </extension>

</plugin>
