<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.ui"
            class="com.codeandme.scripting.ui.view.ScriptShell"
            icon="images/shell_view.gif"
            id="com.codeandme.views.scriptShell"
            name="Script Shell"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.codeandme.commands.category.scriptShell"
            name="Script Shell">
      </category>
      <command
            categoryId="com.codeandme.commands.category.scriptShell"
            defaultHandler="com.codeandme.scripting.ui.handler.ClearDisplay"
            id="com.codeandme.commands.scriptShell.clearDisplay"
            name="Clear Display">
      </command>
      <command
            categoryId="com.codeandme.commands.category.scriptShell"
            description="Terminate current script"
            id="com.codeandme.commands.scriptShell.stop"
            name="Abort script execution">
      </command>
      <command
            categoryId="com.codeandme.commands.category.scriptShell"
            defaultHandler="com.codeandme.scripting.ui.handler.Reset"
            id="com.codeandme.commands.scriptShell.reset"
            name="Reset">
      </command>
      <command
            categoryId="com.codeandme.commands.category.scriptShell"
            defaultHandler="com.codeandme.scripting.ui.handler.SwitchEngine"
            id="com.codeandme.commands.scriptShell.switchEngine"
            name="Switch script engine">
         <commandParameter
               id="com.codeandme.commands.scriptShell.switchEngine.id"
               name="Script engine ID"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="com.codeandme.commands.category.scriptShell"
            defaultHandler="com.codeandme.scripting.ui.handler.SpawnShell"
            id="com.codeandme.commands.scriptShell.newShell"
            name="Spawn new shell">
      </command>
      <command
            categoryId="com.codeandme.commands.category.scriptShell"
            defaultHandler="com.codeandme.scripting.ui.handler.LoadModule"
            id="com.codeandme.commands.scriptShell.loadModule"
            name="Load Module">
         <commandParameter
               id="com.codeandme.commands.scriptShell.loadModule.moduleID"
               name="Module ID"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.codeandme.commands.category.macro"
            name="Macro">
      </category>
      <command
            categoryId="com.codeandme.commands.category.macro"
            defaultHandler="com.codeandme.scripting.ui.handler.Run"
            id="com.codeandme.commands.macro.run"
            name="Run Macro">
         <commandParameter
               id="com.codeandme.commands.macro.run.name"
               name="Macro Name"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="com.codeandme.commands.category.macro"
            defaultHandler="com.codeandme.scripting.ui.handler.ToggleMacroRecording"
            id="com.codeandme.commands.macro.toggleMacroRecording"
            name="Toggle  Macro Recording">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="STYLE">
         </state>
      </command>
      <command
            categoryId="com.codeandme.commands.category.macro"
            defaultHandler="com.codeandme.scripting.ui.handler.ShowMacroManager"
            id="com.codeandme.commands.macro.showMacroManager"
            name="Show Macro Manager">
      </command>
      <command
            categoryId="com.codeandme.commands.category.macro"
            defaultHandler="com.codeandme.scripting.ui.handler.Delete"
            id="com.codeandme.commands.macro.delete"
            name="Delete Macro">
         <commandParameter
               id="com.codeandme.commands.macro.delete.name"
               name="Macro Name"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="com.codeandme.commands.category.macro"
            defaultHandler="com.codeandme.scripting.ui.handler.Rename"
            id="com.codeandme.commands.macro.rename"
            name="Rename Macro">
         <commandParameter
               id="com.codeandme.commands.macro.rename.name"
               name="Macro Name"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="com.codeandme.commands.category.macro"
            defaultHandler="com.codeandme.scripting.ui.handler.Edit"
            id="com.codeandme.commands.macro.edit"
            name="Edit Macro">
         <commandParameter
               id="com.codeandme.commands.macro.edit.name"
               name="Macro Name"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.codeandme.scripting.ui.handler.StopScriptExecution"
            commandId="com.codeandme.commands.scriptShell.stop">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.console.ConsoleView">
         <command
               commandId="com.codeandme.commands.scriptShell.stop"
               icon="platform:/plugin/org.eclipse.debug.ui/icons/full/elcl16/terminate_co.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.codeandme.views.scriptShell">
         <separator
               name="top"
               visible="false">
         </separator>
         <command
               commandId="com.codeandme.commands.scriptShell.loadModule"
               icon="images/libraries.gif"
               id="com.codeandme.commands.scriptShell.loadModule.popup"
               label="Load Module"
               style="pulldown"
               tooltip="Load an external module">
         </command>
         <command
               commandId="com.codeandme.commands.scriptShell.clearDisplay"
               icon="images/erase.gif"
               label="Clear Display"
               style="push">
         </command>
         <separator
               name="separator1"
               visible="true">
         </separator>
         <command
               commandId="com.codeandme.commands.scriptShell.switchEngine"
               icon="images/engine.png"
               id="com.codeandme.commands.scriptShell.switchEngine.popup"
               label="Switch engine"
               style="pulldown">
         </command>
         <command
               commandId="com.codeandme.commands.scriptShell.reset"
               icon="platform:/plugin/org.eclipse.equinox.p2.ui/icons/obj/iu_update_obj.gif"
               label="Reset"
               style="push"
               tooltip="Reset Script Engine">
         </command>
         <command
               commandId="com.codeandme.commands.scriptShell.newShell"
               icon="images/shell_view.gif"
               id="com.codeandme.commands.scriptShell.newShell.popup"
               label="New shell"
               style="push">
         </command>
         <separator
               name="separator2"
               visible="true">
         </separator>
         <command
               commandId="com.codeandme.commands.macro.showMacroManager"
               icon="images/macro_folder.gif"
               id="com.codeandme.commands.macro.showMacroManager.popup"
               label="Macro Manager"
               style="pulldown">
         </command>
         <command
               commandId="com.codeandme.commands.macro.toggleMacroRecording"
               icon="images/start_record_macro.gif"
               label="Toggle Macro Recording"
               style="toggle">
         </command>
         <separator
               name="additions"
               visible="false">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="com.codeandme.scripting.ui.service.MacroServiceFactory">
         <service></service>
         <service
               serviceClass="com.codeandme.scripting.ui.IMacroService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ecf.filetransfer.urlStreamHandlerService">
      <urlStreamHandlerService
            protocol="macro"
            serviceClass="com.codeandme.scripting.ui.macro.MacroURLStreamHandler">
      </urlStreamHandlerService>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.codeandme.scripting.ui.propertytester.ScriptEnginePropertyTester"
            id="com.codeandme.propertyTester.scriptEngineID"
            namespace="com.codeandme.scripting.ui"
            properties="engineID"
            type="org.eclipse.ui.IViewPart">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="com.codeandme.scripting.ui.launchConfigurationType1"
            name="name">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="com.codeandme.scripting.ui.console.ScriptConsolePageParticipant"
            id="com.codeandme.scripting.ui.consolePageParticipant">
         <enablement>
            <instanceof
                  value="com.codeandme.scripting.ui.console.ScriptConsole">
            </instanceof>
         </enablement>
      </consolePageParticipant>
   </extension>
  </plugin>
